/* Fundo escuro para a tela */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.851); /* Fundo escuro */
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.start-screen {
  position: absolute;
  width: 100%; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Coloca a tela inicial sobre o fundo */
}

#question {
  font-size: 30px;
  color: #8b0b02; /* Cor vermelha para o texto "Me ama?" */
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border: none;
  background-color: #8b0b02; /* Cor de fundo dos botões */
  color: white; /* Cor do texto dos botões */
  border-radius: 5px;
}

/* Botão "Sim" com um fundo mais escuro */
button#yes-button {
  background-color: #8b0b02;
}

/* Botão "Não" com um fundo mais suave */
button#no-button {
  background-color: #8b0b02;
}

.box {
  position: absolute;
  width: 100%; 
  height: 100%; 
  max-width: 1080px; 
  max-height: 1920px; 
  background-image: url('us.jpeg'); /* Definindo o fundo da tela */
  background-size: cover; 
  background-position: center;
  background-attachment: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative; 
  display: block; /* Exibe a caixa com o fundo */
}

/* Criar a sobreposição escura */
.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2); /* Sobreposição escura */
  z-index: 1;
}

.text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, sans-serif;
  font-size: 24px; 
  color: #f50b02; /* Cor do texto que aparece após o clique no botão "Sim" */
  opacity: 0;
  transition: opacity 3s ease-in-out; 
  z-index: 2;
  max-width: 90%; 
  text-align: center; 
}

/* Classe para escurecer a caixa e esconder a imagem */
.box.hide {
  background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com opacidade */
  background-image: none; /* Remove a imagem de fundo */
}